@import "colors.scss";

#laius_wrapper{
  box-sizing: border-box;
  .content{
    width:100%;
    padding: 0 80px 0 0;
  }
  .left_content{
    background-image: url("../images/bg-1.jpg");
  }
}
.laius{
  padding: 0;
}
h1{
  font-family: "Muli", sans-serif;
  color: $blue;
  text-align:left;
  font-size:60px;
  margin: 0 0 20px 0;
}
h2{
  font-family: "Muli", sans-serif;
  font-size:30px;
  color:#ffffff;
  text-align:left;
  margin: 10px 0;
}
p{
  font-family: "Muli", sans-serif;
  color: #818181;
  text-align:justify;
  font-size:16px;
  line-height: 20px;
}
