

@mixin circle($width) {
  display:block;
  width: $width;
  height: $width;
  border-radius:50%;
}

@mixin filterColor($color) {
  .filter_title{
    color: $color;
  }
  .param_item{
    color:$color;
    border-color: $color;
    &.active, &:hover{
      background-color: $color;
      color: #ffffff;
    }
  }
}
