

@mixin circle($width) {
  display:block;
  width: $width;
  height: $width;
  border-radius:50%;
}

@mixin filterColor($color) {
  .param_item{
    background-color: transparent;
    color:$color;
    border-color: $color;
    &.active{
      background-color: $color;
      color: #ffffff;
    }
  }
}
