@import "colors.scss";
@import "func.scss";

#wayout{
  height:13px;
  width:0px;
  padding: 6px 0;
  position:absolute;
  right: -50px;
}
.param_item_wrapper:last-of-type > .filters_group > .param_item:nth-child(1){
  &.active ~ #wayout{
    top:calc(27px * 0);
  }
}
.param_item_wrapper:last-of-type > .filters_group > .param_item:nth-child(2){
  &.active ~ #wayout{
    top:calc(27px * 1);
  }
}
.param_item_wrapper:last-of-type > .filters_group > .param_item:nth-child(3){
  &.active ~ #wayout{
    top:calc(26.5px * 2);
  }
}
.param_item_wrapper:last-of-type > .filters_group > .param_item:nth-child(4){
  &.active ~ #wayout{
    top:calc(27px * 3);
  }
}

.change_brand_wrapper{
  position:relative;
  padding:5px 80px 20px 80px;
  background-color:#000000;
}
.advertiser_title{
  font-size:16px;
  color:#ffffff;
  min-width: 200px;
}
.params_wrapper{
  margin:50px auto 0 auto;
  max-width: 960px;
}
#DCO_wrapper{
  transition-duration:0.1s;
  position: relative;
  overflow: hidden;
  display:block;
}
.main_filters_wrapper{
  padding:1px;
}
.filters_wrapper{
  display: flex;
  justify-content: center;
  width:100%;
  position:relative;
}
.param_item_wrapper{
  box-sizing:border-box;
  display:flex;
  flex-direction: column;
  width:25%;
  position: relative;
  margin:0;
  padding:10px;
  &:after{
    content:"";
    display:block;
    clear:both;
  }
}
.advertisers_wrapper{
  display:block;
  width:100%;
  &:after{
    content:"";
    display:block;
    clear:both;
  }
}
.group_title{
  color: #ffffff;
  font-size:18px;
  display:block;
  margin: 20px 0 10px 0;
  &:after{
    content: "";
    display: block;
    clear: both;
  }
}
.advertiser_filter{
  display:inline-block;
  min-width:100px;
  text-align: center;
  cursor:pointer;
  font-size: 13px;
  color: #ffffff;
  padding: 7px 0;
  border: 1px solid #ffffff;
  transition-duration: 0.3s;
  &:hover, &.active{
    background-color: #ffffff;
    color: #000000;
  }
}
.filters_group{
  position: relative;
  display:flex;
  flex-direction: column;
}
.param_item{
  background-color: #ffffff;
  border-style:solid;
  border-width:1px;
  border-top-width: 0px;
  float:left;
  font-size: 13px;
  line-height: 13px;
  padding: 6px 0px;
  text-align: center;
  cursor: pointer;
  transition-duration:0.3s;
  margin:0px;
  &:first-of-type{
    border-top-width: 1px;
  }
}
[data-entry] {
  @include filterColor(#000000);
}
.filter_title{
  color: #ffffff;
  text-transform: uppercase;
  font-size:13px;
  display:block;
  min-width:170px;
  text-align:center;
  padding:0;
  margin:0px 0 7px 0;
}
