@import "colors.scss";
@import "func.scss";

.params_wrapper{
  margin:10px 0;
}

.param_item_wrapper{

}

.param_item{
  border: 1px solid #000000;
  color: #000000;
  font-size: 13px;
  display: inline-block;
  padding: 3px 10px;
  font-weight: 900;
  cursor: pointer;
  transition-duration:0.3s;
  &.active{
    color: #ffffff;
    background-color:#000000;
  }
}

.campaign_wrapper{
  width:580px;
}
