@import "partials/layout.scss";
@import "partials/loader.scss";
@import "partials/parameters.scss";
@import "partials/campaign.scss";
@import "partials/dco-laius.scss";
@import "partials/svg.scss";

#main_wrapper{
  overflow:hidden;
  width:100%;
}
.content{
  padding:1px;
  &:after{
    content:"";
    display:block;
    clear:both;
  }
}
.section_wrapper{
  display:flex;
  align-items:center;
  justify-content:flex-start;
  box-sizing:border-box;
  height: 100vh;
  width: 100%;
}
.button{
  font-weight: 400;
  text-decoration:none;
  border: 1px solid #000000;
  color: #000000;
  padding: 6px 19px;
  font-size: 17px;
  line-height: 17px;
  transition-duration: 1s;
  margin: 0 0 10px 0;
  cursor:pointer;
  &:hover{
    background-color:#000000;
    color:#ffffff;
  }
}
